*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

/*-----------------------navbar--------------------------------*/
.navbar-nav .nav-item .nav-link {
    transition: box-shadow 0.3s ease; /* Agrega una transición suave para el efecto */
}
  
.navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item.active .nav-link {
    box-shadow: 0 2px 0 white; /* Cambia el color y la posición según tus preferencias */
  }

/*Observación,se ponene varios componentes por las jerarquias:
La definición del selector .navbar-nav .nav-item .nav-link especifica que solo se aplicará a elementos .nav-link que
 sean descendientes de elementos .nav-item, que a su vez sean descendientes de elementos .navbar-nav. Si hay otro elemento
 .nav-link que no cumple con esta estructura específica, ese elemento no se verá afectado por este conjunto particular de estilos.
*/


/*-------------------------Banner-----------------------------*/
.banner {
  position: relative;
  width: 100%;
  height: calc( 100vh - 50px );
  background-color: #F5F5F5;
  background-size: cover;
  background-position: center;
  transition: all .1s ease-in-out;
  background-image: url('images/pizzaBanner.jpg');
  animation: bannerEffect 20s infinite linear;
}

.banner-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: rgba(0, 22, 40, .6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content h1{
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: center;
}

.banner-content a{
  text-decoration: none;
  color: #FFF;
  padding: 9px 20px;
  border: 1px solid #FFF;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.banner-content a:hover{
  background-color: #FFF;
  color: #333;
}

/*Tengo 4 imagenes por lo tanto cada una se llevara 25 porciento del total de la animacion que es 100, el 0,100 al innicio es para que al pasar de la ultima a la primera no sea brusco*/
@keyframes bannerEffect { 
  0%{
    background-image: url('images/pizzaBanner.jpg');
  }
  25%{
    background-image: url('images/pizzaBanner.jpg');
  }
  26%{
    background-image: url('images/pizzaBanner2.jpg');
  }
  50%{
    background-image: url('images/pizzaBanner2.jpg');
  }
  51%{
    background-image: url('images/pizzaBanner.jpg');
  }
  75%{
    background-image: url('images/pizzaBanner.jpg');
  }
  76%{
    background-image: url('images/pizzaBanner2.jpg');
  }
  100%{
    background-image: url('images/pizzaBanner2.jpg');
  }
}

/*-----------------------------Logo (o frase) autoscroll------------------------------*/
.logos{
  overflow: hidden;
  padding: 20px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before{
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.logos:after{
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide{
  display: inline-block;
  animation: 30s slideLogos infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

@keyframes slideLogos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*-----------------------------Imagenes autoscroll------------------------------*/
.scrolling-container {
  white-space: nowrap;
  overflow: hidden;
}

.scrolling-container img {
  width: 100vw; /* Ajusta el ancho de las imágenes según tus necesidades */
  height: auto;
  display: inline-block;
  animation: scroll 10s linear infinite; /* Ajusta la duración y otros parámetros según tus necesidades */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Ajusta el porcentaje según la cantidad de imágenes */
  }
}
